@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Custom styles to handle specific conflicts */
.navbar {
    @apply flex items-center justify-between;
}

.navbar-light .navbar-brand {
    @apply text-black;
}

.active {
    font-weight: 550;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --link-color: #1a0dab;
}

.bg-dark {
    --bg-color: #1b1b1b;
    --text-color: #ffffff;
    --link-color: #bb86fc;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}